.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body {
    padding: 50px 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    height: fit-content;
    overflow-x: auto;
}

header {
    width: 100%;
    display: flex;
    height: fit-content;
    padding-top: 20px;
    padding-bottom: 20px;
    align-items: center;
}

header > ul {
    list-style-type: none;
    display: flex;
    width: fit-content;
    height: fit-content;
    gap: 30px;
    align-items: center;
    margin-right: 50px;
    font-size: 18px;
    margin-left: 640px;
}

li:hover {
    text-decoration: underline;
    cursor: pointer;
}

header > img {
    margin-left: 30px;
    width: 80px;
    height: 50px;
}

section {
    width: 830px;
    background-color: white;
    float: left;
    height: 530px;
}

#imgPrincipal {
    width: 800px;
    margin: 21px;
}

aside {
    background-color: hsl(240, 100%, 5%);
    width: 360px;
    float: right;
    height: 500px;
    padding: 0px 22px;
    margin-top: 21px;
    min-width: 360px;
}

.itemAside {
    color: rgb(168, 168, 168);
    margin-top: 50px;
}

h2 {
    font-size: 36px;
    color: rgb(245, 197, 108);
}

h3 {
    font-weight: 800;
    color: white;
    margin-top: 15px;
    margin-bottom: 15px;
}

h1 {
    font-size: 46px;
    padding-left: 25px;
    position: relative;
    bottom: 15px;
}

#textoSection {
    display: flex;
    text-align: left;
}

#textoSectionParagrafo {
    font-size: 18px;
    color: grey;
    padding-left: 150px;
    padding-right: 30px;
    position: relative;
    bottom: 10px;
}

#textoSectionBotao {
    background-color: hsl(5, 85%, 63%);
    border: none;
    margin-left: 150px;
    width: 200px;
    height: 40px;
    color: white;
    font-weight: 700;
    margin-top: 10px;
    letter-spacing: 4px;
}

article {
    height: 200px;
    width: 1280px;
    display: flex;
    padding: 25px;
}

.noticiaArticle {
    display: flex;
}

.numero {
    font-size: 36px;
    font-weight: bolder;
    color: rgb(163, 163, 163);
    margin-left: 15px;
}

h4 {
    margin-top: 15px;
    font-weight: 800;
    margin-left: 15px;
}

.textoNoticiaArticle {
    margin-left: 15px;
    margin-top: 15px;
    margin-right: 15px;
    font-weight: 400;
    color: gray;
}

#divAsideSection {
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
}